<%- include('header') -%>
<body class="bg-image" style="background-image: url(https://www.bing.com/images/search?view=detailV2&ccid=eofYLe2m&id=DBEB3DAD73795F83B743A32261A0523CF66D58DE&thid=OIP.eofYLe2m58fXH-XWOd9pBgHaJ4&mediaurl=https%3a%2f%2fth.bing.com%2fth%2fid%2fR.7a87d82deda6e7c7d71fe5d639df6906%3frik%3d3lht9jxSoGEiow%26riu%3dhttp%253a%252f%252fclipart-library.com%252fimages%252fLTd5nqoyc.png%26ehk%3disDyI2iDpYFq6ap3Sy7R4yZ%252fiGX1UU0f8jwBPu3riBY%253d%26risl%3d%26pid%3dImgRaw%26r%3d0&exph=640&expw=480&q=home+animated+images&simid=608012458639569826&FORM=IRPRST&ck=CA81D18B950EC1BA5E556BAE91CDE003&selectedIndex=10);">
<div class="text-center center-div mt-5" >
  <div class="container w-40 py-5 mt-5">
    <h1>Welcome to Home Page</h1>
  </div>
</div>
<div class="text-center center-div">
  <a
    href="/logout"
    class="btn btn-secondary rounded-pill"
    style="
      position: relative;
      text-align: center;
    "
    >Logout</a>
</div>
</body>